{% if page.footer %}
    <section class="footer" role="contentinfo" aria-label="Footer">
        <div class="container">
            <div class="row">
                {{ page.footer }}
            </div>
            <div class="row">
                {{ page.footer_left }}
                {{ page.footer_center }}
                {{ page.footer_right }}
            </div>
        </div>
    </section>
{% endif %} 
{% if page.copyright %}
    <section class="copyright" role="contentinfo" aria-label="Copyright">
        <div class="container">
            <div class="row">
                {{ page.copyright }}
            </div>
        </div>
    </section>
{% endif %}