{% extends 'block.html.twig' %}
{% block content %}
  <h4>Appointments</h4>
  <div class="phone">{{ content.field_appointments_phone_number }}</div>
  {{ content.field_appointments_text }}
  {% if content.field_request_appointment_form['#object'] %}
  <p>{{ content.field_request_appointment_form }}</p>
  {% endif %}
{% if content.field_online_scheduling['#object'] %}
  <p>{{ content.field_online_scheduling }}</p>
{% endif %}
  <p><a class="btn btn-black" href="#">Sign up for Patient Portal</a></p>
  {% if content.field_referrals_phone_number['#object'] %}
  <h4>Referrals</h4>
  <div class="phone">{{ content.field_referrals_phone_number }}</div>
  {{ content.field_referrals_text }}
  {% endif %}
{% endblock %}
