{#
/**
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 */
#}
<div{{ wrap }}>
{% include directory ~ '/templates/_inc/header.html.twig' %}
<a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
{% if page.banner %}
    <section class="banner" role="banner" aria-label="Banner">
        <div class="bg-video embed-responsive embed-responsive-16by9">
            <iframe src="https://player.vimeo.com/video/211348303?background=1&autoplay=1&mute=1&loop=1" class="embed-responsive-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="container-fluid">
            <div class="row">
                {{ page.banner }}
            </div>
        </div>
    </section>
{% endif %} 
{% if page.top %}
    <section class="top" role="complimentary" aria-label="Featured Top Content">
        <div class="container">
            <div class="row">
                {{ page.top }}
            </div>
        </div>
    </section>
{% endif %} 
<section class="main" role="main" aria-label="Main Content">
    {% if page.content_top %}
        <section class="content-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        {{ page.content_top }}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    {% if page.content %}
        <section class="content">
            <div class="container">
                <div class="row">
                     {% if page.sidebar %}
                        <div class="col-xs-12 col-sm-8">
                            <div class="main">
                                {{ page.content }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="sidebar">
                                {{ page.sidebar }}
                            </div>
                        </div>
                    {% else %} 
                        <div class="col-xs-12">
                            <div class="main">
                                {{ page.content }}
                            </div>
                        </div>
                    {% endif %}                
                </div>
            </div>
        </section>
    {% endif %} 
    {% if page.content_bottom %}
        <section class="content-bottom">
            <div class="container">
                <div class="row">
                    {{ page.content_bottom }}
                </div>
            </div>
        </section>
    {% endif %} 
</section>
{% if page.bottom %}
    <section class="bottom" role="complimentary" aria-label="Bottom Content">
        <div class="container">
            <div class="row">
                {{ page.bottom }}
            </div>
        </div>
    </section>
{% endif %} 
{% if page.feature %}
    <section class="feature" role="navigaton" aria-label="Featured Bottom Content">
        <div class="container-fluid">
            <div class="row">
                {{ page.feature }}
            </div>
        </div>
    </section>
{% endif %} 
{% include directory ~ '/templates/_inc/footer.html.twig' %}
</div>

{% if page.offcanvas %}
    <section class="offcanvas">
        <div class="container-fluid">
            <div class="row">
                {{ page.offcanvas }}
            </div>
        </div>
    </section>
{% endif %} 